{% extends 'travel_wishlist/base.html' %}
{% block content %}

<h1>Travel Wishlist</h1>


<form method="POST" action="{% url 'place_list' %}">
      {% csrf_token %}
      {{ new_place_form }}
      <button id='add-new-place' type="submit">Add</button>
</form>


<div class='wishlist-place'>
{% for place in places %}

    <p><a href="{% url 'place_detail' pk=place.pk %}"><span id="place-name-{{ place.pk }}">{{ place.name }}</span></a></p>

{% empty %}

<p>You have no places in your wishlist</p>

{% endfor %}
</div>
{% endblock %}
